<div class="nav-area nav-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <div class="mode">
            <div class="sun-moon">
              <i class='bx bx-moon icon moon'></i>
            </div>
          </div>
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/" class="{{ isActive('/') }}">Home</a></li>
            <li><a href="/tutorial" class="{{ isActive('/tutorial') }}">Tutorial</a></li>
          </ul>
          <!-- ***** Search Start ***** -->
          <div class="search-input">
            <form id="search" action="#">
              <i class='bx bx-search-alt'></i>
              <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<script type ="module" src="/js/navbar.js"></script>
