{% macro menuItem(item, active) %}
<li>
    {% if item.url %}
         <h4 class="text-button"> <a href="{{ item.url }}">{{ item.text }} </a> </h4>
    {% else %}
         <h4 class="text-button" onclick="toggleSubMenu(this)">{{ item.text }}</h4>
    {% endif %}
    {% if item.items %}
    <ul class= "submenu" style="display: {% if item.active %} block {% else %} none {% endif %};">

        {% for item in item.items %}
        {{ menuItem(item, active) }}
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro %}



