{% if nameFile %}

    <div class="heading-section">
        <h4><em>{{ nameFile }}</em></h4>
    </div>


    <div class="item">
       <zero-md src="{{source}}">
       </zero-md>
    </div>

    <script>
        document.addEventListener('zero-md-ready', function () {
              const markdownBody = document.querySelector('zero-md').shadowRoot.querySelector('.markdown-body');
              const mode = $(".nav-area").hasClass("light") ? 'light' : 'dark';
              markdownBody.setAttribute('data-theme', mode);
        });
    </script>

{% else %}

    <div class="heading-section">
            <h4><em>Welcome</em></h4>
    </div>

{% endif %}
