{% if nameFile %}

    <div class="heading-section">
        <h4><em>{{ nameFile }}</em></h4>
    </div>


    <div class="item">
       <zero-md> <script type="text/markdown" data-dedent>{{content}}</script></zero-md>
    </div>
    <script>
        document.addEventListener('zero-md-ready', function () {
              const markdownBody = document.querySelector('zero-md').shadowRoot.querySelector('.markdown-body');
              markdownBody.setAttribute('data-theme', 'dark');
        });
    </script>
{% else %}
    <div class="heading-section">
            <h4><em>Welcome</em></h4>
    </div>
{% endif %}
