@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

/*
---------------------------------------------
reset
---------------------------------------------
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul, li {
    padding: 0;
    margin: 0;
}

header, nav, section, article, aside, footer, hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #CCC;
    text-decoration: none !important;
}

a:hover {
    color: #F99;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
}

img {
    width: 100%;
    overflow: hidden;
}

/*
---------------------------------------------
Global Styles
---------------------------------------------
*/

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #292929 #9c9c9c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #9c9c9c;
}

*::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 21px;
    border: 3px solid #ffffff;
}
:root{
    --menu-col: #141414;
}
.light{
    --menu-col: #e6e6e6;
}

html,
body {
    width: 100%;
    min-height: 100dvh;
    background: var(--menu-col);
    font-family: 'Poppins', sans-serif;
}

body .page-content {
    margin-top: 50px;
    background-color: var(--menu-col);
    padding: 30px;
    border-radius: 23px;
}

p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0px;
}


.templatemo-item {
    max-width: 80px;
    border-radius: 23px;
}

.main-button a {
    font-size: 14px;
    color: #fff;
    background-color: var(--nav-hov-text-col);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-button a:hover {
    background-color: #fff;
    color: var(--nav-hov-text-col);
}

.main-border-button a {
    font-size: 14px;
    color: var(--nav-hov-text-col);
    background-color: transparent;
    border: 1px solid var(--nav-hov-text-col);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-border-button a:hover {
    border-color: #fff;
    background-color: #fff;
    color: var(--nav-hov-text-col);
}

.border-no-active a {
    border-color: #666;
    color: #666;
}

.border-no-active a:hover {
    border-color: #666;
    color: #666;
    background-color: transparent;
}

section {
    margin-top: 120px;
}

.heading-section h4 {
    color: var(--nav-hov-text-col);
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
}

.heading-section h4 em {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
}


/*
---------------------------------------------
Pre-loader Style
---------------------------------------------
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.99);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: var(--nav-hov-text-col);
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: var(--nav-hov-text-col);
    border-radius: 50%;
}


/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

body {
    overflow-x: hidden;
}

@media (max-width: 767px) {
    body .page-content {
        padding: 0px 30px;
    }

}
