:root {
    --page-text-col: #cecece;
    --page-span-text-col: #666;
    --bg-color-code: #b1b1b1;

}
.light{
    --bg-color-code: #232323;
    --page-text-col: #000000;
    --page-span-text-col: #666;
}

h1,h4,h2,h3,h6{
    margin: 2px;
    color: var(--nav-text-col);
}
.col-lg-3 {
    position: relative;
}

.content-menu {
    position: sticky;
    top:90px;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    background-color: var(--nav-bg);
    padding: 30px;
    margin-bottom: 10px;
    min-height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-menu ul{
    list-style: none;
}
.content-menu ul li {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 28px;
    list-style: none;
}


.content-menu ul li h4 {
    color: var(--nav-text-col);
    font-size: 15px;
    padding-top: 3px;
}

.content-menu ul li h6 {
    font-size: 15px;
    color: var(--nav-text-col);
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-menu ul li span {
    color: var(--page-span-text-col);
    font-size: 15px;
    margin-right: 10px;
}

.content-menu .submenu {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    padding-left: 20px;
    border-left: 1px solid #3a3c3d;
}

.content-menu .submenu li {
    margin-bottom: 5px;
    border-bottom:none;
}

.content-menu .submenu li h4 a {
    color: var(--nav-text-col);
}

.content-menu .text-button:hover {
    font-weight: 600;
    color: var(--nav-hov-text-col);
    font-size: 15px;
}

.content-menu .text-button {
    font-weight: 600;
    color: var(--nav-text-col);
    font-size: 15px;
    cursor: pointer;
}

.content-section {
    background-color: var(--nav-bg);
    border-radius: 23px;
    padding: 30px;
    width: 100%;
}

.content-section .heading-section h4 em{
    color: var(--page-text-col);
}
